h1{
    color: chocolate;
    text-align: center;
    font-family: fantasy;
    font-size: 3.2em;
    font-weight: 400;
    text-shadow: 4px 2px 8px #d0ff00;
}
#txtTexto{
    text-align: justify;
}
.ftoImgParrafo{
    float:left;
    padding: 10px;
    margin: 8px;
    border: double;
}
.ftoImgParrafo2{
    float:right;
    padding: 10px;
    margin: 8px;
    border: double;
}
.subtema{
    color: darkblue;
    margin: 20px;
    text-align: center;
    font-style:oblique;
    font-size: 1.7em;
    clear: both;
}
.subtema2{
    color: darkblue;
    margin:20px;
    text-align: center;
    font-style:oblique;
    font-size: 1.7em;
    clear: both;
}
p{
    text-align: justify;
    font-family:cursive;
    font-size: 1.4em;
}
#nombre{
    border: solid;
    background-color: aqua;
}
